[submodule "Libft/src"]
	path = Libft/src
	url = git@github.com:BlankRose/libft.git
[submodule "Get_Next_Line/src"]
	path = Get_Next_Line/src
	url = git@github.com:BlankRose/libft.git
[submodule "Printf/src"]
	path = Printf/src
	url = git@github.com:BlankRose/libft.git
[submodule "IRC/src"]
	path = IRC/src
	url = git@github.com:dhaliti/IRC.git
