[submodule "Common/libft/src"]
	path = Common/libft/src
	url = git@github.com:BlankRose/libft.git
[submodule "Common/Get_Next_Line/src"]
	path = Common/Get_Next_Line/src
	url = git@github.com:BlankRose/libft.git
[submodule "Common/Printf/src"]
	path = Common/Printf/src
	url = git@github.com:BlankRose/libft.git
[submodule "Common/So Long/lib"]
	path = Common/So Long/lib
	url = git@github.com:BlankRose/libft.git
[submodule "Common/IRC/src"]
	path = Common/IRC/src
	url = git@github.com:dhaliti/IRC.git
